
body {
  font-size: 100%;
  font-family:"Open Sans",Helvetica,Arial,sans-serif;
  background-color: #fff;
  /*padding: 10px;*/
}
     .wrapper1 {
        display: inline-block;
        width: 180px;
        margin-top: 25px;
        height: 20px;
        position: relative;
        float:right;  
    }
    
     .parent {
        font-size: 20px;
        height: 100%;
        width: 100%;
        display: block;
        cursor: pointer;
        line-height: 30px;
        height: 30px;
        background: transparent;
        color: #fff;
        font-weight: bold;
        z-index: 2;
        position: relative;
        -webkit-transition: border-radius .1s linear, background .1s linear, z-index 0s linear;
        -webkit-transition-delay: .8s;
        text-align: center;
    }
    
     .parent:hover,
    .content:hover ~ .parent {
        background: transparent;
        -webkit-transition-delay: 0s, 0s, 0s;
    }
    
     .content:hover ~ .parent {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        z-index: 0;
    }
    
     .content {
        position: absolute;
        top: 0;
        display: block;
        z-index: 1;
        height: 0;
        width: 180px;
        padding-top: 35px;
        -webkit-transition: height .5s ease;
        -webkit-transition-delay: .4s;
        /*border: 1px solid #777;
        border-radius: 5px;
        box-shadow: 0 1px 2px rgba(0,0,0,.4);*/
    }
    
     .wrapper1:active .content {
        height: 110px;
        z-index: 3;
        -webkit-transition-delay: 0s;
    }
    
     .content:hover {
        height: 110px;
        z-index: 3;
        -webkit-transition-delay: 0s;
    }
    
    
     .content ul {
        background: #fff;
        margin: 0;
        padding:0;
        overflow: hidden;
        height: 100%;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    
     .content ul a {
        text-decoration: none;
    }
    
     .content li:hover {
        background: #eee;
        color: #333;
    }
    
     .content li {
        list-style: none;
        text-align: left;
        color: #888;
        font-size: 14px;
        line-height: 30px;
        height: 30px;
        padding-left: 10px;
        border-top: 1px solid #ccc;
    }
    
     .content li:last-of-type {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
.wrapper {
  transition: background .2s ease;

}
section{
  /*width: 100%;*/
  /*padding: 0 7%;*/
  display: table;
  margin: 0!important;
  max-width: none;
  background-color: #fff;
  height: 100vh;
}
#section2{
  background-color:#DDD;
  height: auto;  
}

.short {
  height: (100vh / 3);
}


.nav_bar{
top:0px;
  position: fixed;
  width:98%;
  a{
    text-decoration: none;
  }
}
 .Cname {
  float: left;
  margin-left:  10px;
  margin-top: 10px;
  text-decoration: none; 
}
.Cname:hover{text-decoration: none;}
.fa{
  font-size:30px!important;
  margin-right:10px;
}
.lines{color:white;}
.menu-trigger{  
  float: right;
 margin-top: 20px; 
 height: 20px;
}
/*.separator{
  height:5px;
  color:black;
  width:95%;
}
.separator{
  height:10px!important;
}*/



.boxed{
  border:1px solid black;
 /* margin-right: 5px;*/
}

/*nav bar*/
#navigation{
   background-color: #193049;
    box-shadow: 4px 0px 1px rgba(232, 232, 232, 0.25);
    width: 100%;
    min-height: 48px;
    position: relative;
    border-radius: 0;
    margin-bottom: 0;
    z-index: 1;
    /*overflow: auto;*/
}

.nav>li>a:focus, .nav>li>a:hover{
  /*border: 2px solid red!important;*/

  background-color:transparent!important  ;
}
.nav>li>a{
  color: #fff;
  font-size:20px;
  padding-top:24.5px!important;
  padding-bottom:10px!important; 
}
#responsive_button{

  color:white;
  margin-right:-125px; 
}
.site-logo>a, .site-logo>a:hover{
  color:white;
  text-decoration:none;
  padding-top:10px;
  /*padding-bottom:20px; */ 
  position:absolute; 
  font-size: 40px;
}
.navbar{
  padding-right: 100px;
  margin-bottom:0px!important;
}

#globalnav{
 /* margin-right:-100 px!important;*/
  /*height:46px;*//*fix for nav*/
 /* padding-left: -31px;*/
  background-color: #193049;
}
.navbar-toggle{
  margin-right:-15px!important;
  position: relative; 
}
@media only screen and (max-width: 650px) {
.navbar-collapse{
  
  
  padding:0!important;
}
.mob-menu{
  width:100%;
}
.navbar-collapse.in{
  /*overflow y: none!important;*/
  overflow-y: visible!important;
}
}

/*nav bar ends*/

#section2{
  margin:0!important;
}
ul{ margin:0; }
#section3{
  background-image:url(../images/1.jpg); 
  margin:0!important;
}

section{
  margin-top:0!important;
/*  width:100%;
*/}
section h2*{
  color:#1a1a1a;
}

.footer-wrap.text-center{

  background: #252C34;
}
.site-info{
  color: #fff;
}
.social>li{
  list-style: none;
  display:inline;
}
  footer .container {
    padding-bottom: 15px;
    padding-top: 30px;
    }
.social>li :hover{
color: #fff!important;
}

#whatdowedo{
  font-size: 40px;
}
#howdowedo{
  background-image: url(../images/how1.jpg); 
   background-position: center center;
      background-repeat:  no-repeat;
      background-attachment: fixed;
      background-size:  cover;
  width:100%;
  padding-left:0!important; 
  color:white;
  padding-top:50px; 
}
.about_us{
  color: #252C34;
  font-size:40px; 
  margin-top:150px!important; 

}
#about{
  padding-top:40px; 
}
.panel{
   background:#F5F5F5!important; 
  margin-top:50px!important; 
  opacity:0.8;
  height:320px; 
}
.panel1{
  height:330px;
  padding-top:50px; 
}

.active{
  padding-bottom:17px;
  /*border-bottom:4px solid red;*/
}
#globalnav >li {
  padding-bottom: 17px;
  
}

/*text slider*/
@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}
* {
  box-sizing: border-box;
}
/* div { 
  margin: 0; background: #101010;
  font-family: Istok Web, sans-serif;
  font-weight: 100;
}*/
div#captioned-gallery { 

  width: 100%; /*overflow: hidden;*/ 
}
div.slider { 
  position: relative; width: 100%;
  font-size: 0; animation: 30s slidy infinite; 
}
div.slider div { 
  width: 20%; height: auto;
  display: inline-block;  position: inherit; 
}
div.slider p { width: 100%; height: auto; }
div.slider div p { 
  position: absolute; bottom: 0;
 
  color: #fff; width: 100%;
  font-size: 2rem; padding: .6rem; 
}
/*slider ends*/ 
/*Contact us*/
.form-control{
  height:45px!important;
  margin-bottom:20px;
  border-radius:0px!important;   
}
#text{
  height:180px!important;
}
.submitBtn{
  min-width:200px;
  height:45px;
  background: transparent;
  border-radius:0px!important;  
}
.contact7{ 
  margin-top:100px!important; 
  background:transparent;
}
#section7{
      background-image: url(../images/contact.jpeg) ;
      background-position: center center;
      background-repeat:  no-repeat;
      background-attachment: fixed;
      background-size:  cover;
      color: #fff; 

}
/*Contanst ends here*/
#section4 > div> ul >li{display: flex;}
  

/*CSS for portfolis start here*/
/* Portolio Hover */

/* General Demo Style */

/*text animation*/
/*.big-title{
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
  animation-duration: 2s;
  -webkit-animation-duration:2s;
  animation-timing-function: linear;
  -webkit-animation-timing-function:linear;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode:forwards;
  animation-delay: 2s;
  -webkit-animation-delay: 2s;
}*/
/*@keyframes bounceIn{
  0%{
    opacity: 0;
    transform: scale(0.3) translate3d(0,0,0);
  }
  50%{
    opacity: 0.9;
    transform: scale(1.1);
  }
  80%{
    opacity: 1;
    transform: scale(0.89);
  }
  100%{
    opacity: 1;
    transform: scale(1) translate3d(0,0,0);
  }
}
@-webkit-keyframes bounceIn{
  0%{
    -webkit-opacity: 0;
    -webkit-transform: scale(0.3) translate3d(0,0,0);
  }
  50%{
    -webkit-opacity: 0.9;
    -webkit-transform: scale(1.1);
  }
  80%{
    -webkit-opacity: 1;
    -webkit-transform: scale(0.89);
  }
  100%{
    -webkit-opacity: 1;
    -webkit-transform: scale(1) translate3d(0,0,0);
  }
}*/
/*text animation ends here*/
#portfolio_box{
background-color:#333;
width:100%!important;
padding:0!important; 
height: 75px;

}
#portfolio_title{
  color: white;
  font-size: 40px;
}
#section1{
  background-image:url(../images/home.jpeg);
   background-position: center center;
      background-repeat:  no-repeat;
      background-attachment: fixed;
      background-size:  cover;
}
.panel_text{

  padding-top:20px; 
}
.call_us{
  padding:20px; 
  float:right;
  font-size:20px!important;
  color:#fff;
 
}
 .title{margin-left:20px; 
  float:left;
  font-size:36px;
  color:#fff;
  text-shadow:2px 2px 4px #000000;
}
/*contact_us hover*/
.dropdown {
  float:right;
    position: relative;
    display: inline-block;
}

.dropdown-content {

    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border:2px solid black;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
/*normal font*/
.section_text{
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 2rem;
  color: #4a4a4a;
}

/*portfolio new*/
.portfolio_grid{
  height: 260px;
  padding-top:30px;
}
.portfolio_grid>img{
  height: -webkit-fill-available;
  width: 100%;
  overflow: hidden;
}

/*dafhfd portfolio new*/
/*.da-thumbs li ,*/
.da-thumbs   img {
  display: block;
  position: relative;
}
.da-thumbs   {
  overflow: hidden;
  text-align:center;
  float:left;
  position:relative;
}
.da-thumbs   article {
  position: absolute;
  background-image:url(../images/image_hover.png);
  background-repeat:repeat;
  width: 100%;
  height: 100%;
}
.da-thumbs   article.da-animate {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* Initial state classes: */
.da-slideFromTop {
  left: 0px;
  top: -100%;
}
.da-slideFromBottom {
  left: 0px;
  top: 100%;
}
.da-slideFromLeft {
  top: 30px; 
  left: -100%;
}
.da-slideFromRight {
  top: 30px;
  left: 100%;
}
/* Final state classes: */
.da-slideTop {
  top: 30px;
}
.da-slideLeft {
  left: 0px;
}
.da-thumbs   article a {
  color:#fff;
  padding:20px;
  display:block;
}

.da-thumbs {
text-align:center;
}

.da-thumbs   article h3{
color:#fff;
padding-top:30px;
}

.da-thumbs   article em{
margin-bottom:10px;
color:#fff;
display:block;
}

.da-thumbs   article span{
display:inline-block;
}

span.link_post{
display:block;
width:35px;
height:35px;
background-color:#DF6232;
border-radius:50px;
cursor:pointer;
background-image:url(../images/link_post_icon.png);
background-repeat:no-repeat;
background-position:center;
margin-right:10px;
}

span.zoom{
overflow:hidden;
display:block;
width:35px;
height:35px;
background-color:#DF6232;
border-radius:50px;
cursor:pointer;
background-image:url(../images/zoom_icon.png);
background-repeat:no-repeat;
background-position:center;
margin-left:10px;
}

.portfolio_2col article h3{
padding-top:70px !important;
}

/* Image Grid */
.image_grid {
  float:left;
  overflow:hidden;
  /*width:700px;*/
  position:relative;

}

/*.image_grid li{
  float: left;
  line-height: 17px;
  color: #686f74;
  list-style:none;
  overflow:hidden;
  
  text-align:center;
}*/


/* Responsive image grid*/
/* Mobile landscape width 320 */
/*@media only screen and (min-width: 960px) {

.image_grid{
width:100% 
margin-left:1px;
}

.image_grid li img{
width:337.2px!important;
}

.portfolio_4col .da-thumbs li article h3{
padding-top:70px;
}

.portfolio_3col .da-thumbs li article h3{
padding-top:50px;
}

.portfolio_2col .da-thumbs li article h3{
padding-top:53px !important;
}

}*/